.container {
    display: flex;
    gap: 10px;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.button {
    height: 40px;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
}
.button:active {
    background-color: #C5C5C5;
}
